{% extends "print_base.html" %}

{% block title %}每日報表 - {{ day.location.name }} - {{ day.date.strftime('%Y-%m-%d') }}{% endblock %}

{% block content %}
<div class="print-header">
    <h1>每日營運報表</h1>
    <p>據點：{{ day.location.name }} &nbsp;|&nbsp; 日期：{{ day.date.strftime('%Y-%m-%d') }}</p>
    <hr>
</div>

<p class="section-title">帳務核對</p>
<table class="report-table">
    <tbody>
        <tr>
            <td class="label-col">開店準備金</td>
            <td class="currency-col">$</td>
            <td class="amount-col">{{ "{:,.0f}".format(day.opening_cash | int) }}</td>
        </tr>
        <tr>
            <td class="label-col">本日銷售總額</td>
            <td class="currency-col">$</td>
            <td class="amount-col">{{ "{:,.0f}".format(day.total_sales | int) }}</td>
        </tr>
        <tr class="fw-bold">
            <td class="label-col">帳面總額 (A)</td>
            <td class="currency-col">$</td>
            <td class="amount-col">{{ "{:,.0f}".format(expected_total | int) }}</td>
        </tr>
        <tr class="fw-bold">
            <td class="label-col">盤點現金合計 (B)</td>
            <td class="currency-col">$</td>
            <td class="amount-col">{{ "{:,.0f}".format(day.closing_cash | int) }}</td>
        </tr>
        <tr class="fw-bolder">
            <td class="label-col">帳差 (B - A)</td>
            <td class="currency-col {% if difference < 0 %}text-danger{% endif %}">$</td>
            <td class="amount-col {% if difference < 0 %}text-danger{% endif %}">
                {{ "{:,.0f}".format(difference | int) }}
            </td>
        </tr>
    </tbody>
</table>

<p class="section-title">業績統計</p>
<table class="report-table">
    <tbody>
        <tr>
            <td class="label-col">交易筆數 (顧客總數)</td>
            <td class="currency-col"></td>
            <td class="amount-col">{{ day.total_transactions }} 筆</td>
        </tr>
        <tr>
            <td class="label-col">銷售件數 (商品總數)</td>
            <td class="currency-col"></td>
            <td class="amount-col">{{ day.total_items }} 件</td>
        </tr>
    </tbody>
</table>

<p class="section-title">簽核欄</p>
<table class="signature-table">
    <tbody>
        <tr>
            <td class="signature-cell">
                {% if signatures.operator and signatures.operator != 'data:,' %}
                    <img src="{{ signatures.operator }}" class="signature-img">
                {% endif %}
            </td>
            <td class="signature-cell">
                {% if signatures.reviewer and signatures.reviewer != 'data:,' %}
                    <img src="{{ signatures.reviewer }}" class="signature-img">
                {% endif %}
            </td>
            <td class="signature-cell">
                {% if signatures.cashier and signatures.cashier != 'data:,' %}
                    <img src="{{ signatures.cashier }}" class="signature-img">
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="title-cell">作業員</td>
            <td class="title-cell">覆核員</td>
            <td class="title-cell">出納員</td>
        </tr>
    </tbody>
</table>
{% endblock %}